{% extends 'base.html.twig' %}

{% block container %}
  {% for advert in toplist %}
    <div class="jumbotron">
      <h1>{{ advert.titre }}</h1>
      <h2>{{ advert.pseudo }}</h2>
      <p>{{ advert.content }}</p>
      <div class="col-md-8">
        <div class="col-md-2 result" id="rdislike" style="color:red">{{ advert.unliketicket}}</div>
        <div class="col-md-2 result" id="rlike" style="color:green">{{ advert.liketicket}}</div>
        <div class="col-md-4">
          <button type="button" class="btn btn-danger">J'aime pas</button>
          <button type="button" class="btn btn-success">J'aime</button>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}
